@import "compass/utilities/sprites/base";

.w-icon,
.w-icon-normal{@include inline-block;background-position: -9999px -9999px;}

.w-icon{width: 20px;height: 20px;}

/* 大小为20px的小图标
------------------- */
$icon : sprite-map("icon/*.png");  /* */
$icon-url : sprite-url($icon);   // 这一句必须调用 否则不会生成sprite图片
$icon-sprite : sprite-path($icon);
.w-icon{@include bg-img("../img/" + $icon-sprite);}
@include sprites($icon,sprite-names($icon));
.icon-checkbox,
.icon-add,
.icon-arrow-down{cursor: pointer;}
.icon-addmore{@include sprite-background-position($icon,"add_hover");}
.icon-checkbox{margin-right: 3px;}
.icon-checkbox-disabled{cursor: default;}
.icon-add{margin-top: 7px;}
.icon-required{margin-top: 3px;}
.icon-close{position: absolute;top: 6px;right: 8px;text-indent: -9999px;cursor: pointer;}
.icon-search{position: absolute;top: 1px;right: 3px;cursor: pointer;}

/* 其他图标
------------------- */
$icon-normal : sprite-map("icon-normal/*.png");  /* */
$icon-normal-url : sprite-url($icon-normal);   // 这一句必须调用 否则不会生成sprite图片
$icon-normal-sprite : sprite-path($icon-normal);
.w-icon-normal{@include bg-img("../img/" + $icon-normal-sprite);}
@include sprites($icon-normal,sprite-names($icon-normal),false,true);

