<!DOCTYPE html>
<html>
<!-- manifest="/misc/sp.manifest" -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="gray" />
    <title>页面smart版本</title>
    <link href="bower_components/gmu/dist/reset.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/gmu/dist/gmu.css" rel="stylesheet" type="text/css" />
    <link href="style/base.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    .b-demo-wrap {
        padding: 5px;
    }
    </style>
    <!-- Include the compiled Ratchet CSS -->
    <link href="bower_components/ratchet2/dist/css/ratchet.css" rel="stylesheet">
    <!--[if IE]>
    <script>
        document.createElement("header");
        document.createElement("footer");
        document.createElement("nav");
        document.createElement("article");
        document.createElement("section");
    </script>
    <![endif]-->
    <script src="http://10.240.136.154:9922/target/target-script-min.js#anonymous"></script>

    <!--
        <script src="http://10.240.136.154:35729/livereload.js"></script>
        <script src="http://jsconsole.com/remote.js?9C92D5FE-43C0-4A30-BA95-F531E46B9271"></script>
        -->
</head>

<body>

    <div>
        <p>
            <input type="text" class="input-text" id="J_input" />
            <input type="button" value="取消" class="input-button" />
        </p>
        <div id="J_historyWrap"></div>
    </div>

    <!--jsmerge_begin:c0.js-->
    <script type="text/javascript" src="bower_components/gmu/dist/zepto.js"></script>
    <script type="text/javascript" src="bower_components/ratchet2/dist/js/ratchet.js"></script>
    <script type="text/javascript" src="bower_components/gmu/dist/gmu.js"></script>
    <script type="text/javascript" src="bower_components/seajs/dist/sea.js"></script>
    <!--jsmerge_end:c0.js-->

    <!--jsmerge_begin:app.js-->
    <script type="text/javascript" src="js/app/util.js"></script>
    <script type="text/javascript" src="js/app/ajax.js"></script>
    <script type="text/javascript" src="js/app/main.js"></script>
    <!--jsmerge_end:app.js-->

    <script type="text/javascript">
    var instance = new gmu.Historylist({
        container: $('#J_historyWrap'), // 页面上需要有一个已经存在的容器来存放组件
        items: [{
                'value': 'global',
                'context': '<b>global</b> adj. 全球的；综合的'
            },
            'google', {
                'value': 'visual',
                'context': '<b>visual</b> adj. 视觉的'
            },
            'alibaba',
            'taobao'
        ], // 历史记录的列表
        itemTouch: function(e, data) { // 某条记录被点击后的响应事件
            console.log('item touched: ' + data.item); // data.item是某条记录的内容
            $('#J_input').val(data.item);
        },
        itemDelete: function(e, data) { // 某条记录被删除后的响应事件
            console.log('item delete:' + data.item); // data.item是某条记录的内容
        },
        clear: function() { // 用户确认清空搜索历史后的响应事件
            // 在这里删除localstorage里面存的历史数据
            console.log('clear triggered');
        }
    });
    instance.show();
    </script>
</body>

</html>
