<!DOCTYPE html>
<html>
<!-- manifest="/misc/sp.manifest" -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="gray" />
    <title>页面smart版本</title>
    <link href="bower_components/gmu/dist/reset.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/gmu/dist/gmu.css" rel="stylesheet" type="text/css" />
    <link href="style/base.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    .b-demo-wrap {
        padding: 5px;
    }
    </style>
    <!-- Include the compiled Ratchet CSS -->
    <link href="bower_components/ratchet2/dist/css/ratchet.css" rel="stylesheet">
    <!--[if IE]>
    <script>
        document.createElement("header");
        document.createElement("footer");
        document.createElement("nav");
        document.createElement("article");
        document.createElement("section");
    </script>
    <![endif]-->
    <script src="http://10.240.136.154:9922/target/target-script-min.js#anonymous"></script>

    <!--
        <script src="http://10.240.136.154:35729/livereload.js"></script>
        <script src="http://jsconsole.com/remote.js?9C92D5FE-43C0-4A30-BA95-F531E46B9271"></script>
        -->
</head>

<body>

  
            <header class="bar bar-nav">
                <a class="icon icon-left-nav pull-left" href="/rat_push.html" data-transition="slide-out"></a>
                <h1 class="title">Page two</h1>
            </header>
            <div class="content">
                <div class="card">
                    <ul class="table-view">
                        <li class="table-view-cell">
                            <a href="/rat_push.html" data-transition="slide-out">Tap or click here to go back. You can also try your browser's back button.</a>
                        </li>
                    </ul>
                </div>
            </div>


    <!--jsmerge_begin:c0.js-->
    <script type="text/javascript" src="bower_components/gmu/dist/zepto.js"></script>
    <script type="text/javascript" src="bower_components/ratchet2/dist/js/ratchet.js"></script>
    <script type="text/javascript" src="bower_components/gmu/dist/gmu.js"></script>
    <script type="text/javascript" src="bower_components/seajs/dist/sea.js"></script>
    <!--jsmerge_end:c0.js-->

    <!--jsmerge_begin:app.js-->
    <script type="text/javascript" src="js/app/util.js"></script>
    <script type="text/javascript" src="js/app/ajax.js"></script>
    <script type="text/javascript" src="js/app/main.js"></script>
    <!--jsmerge_end:app.js-->

    <script type="text/javascript">
    </script>
</body>

</html>
