<!DOCTYPE html>
<html>
<head lang="zh_CN">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>在手机浏览器中打开此页面，点击对应的链接，快速进入目标页面</h1>
    <p>(确保，你已经安装了weinre，如果没有请安装‘npm -g install weinre’)</p>
    <ul>
        <li><a href="#">进入压缩文件预览页面</a></li>
        <li><a href="#">进入pdf预览页面</a></li>
    </ul>
    <hl>
        点击打开 weinre调试页面；（首先，请启动server.bat）,默认端口为9922
    </hl>
    <ul>
        <li><a href="#">请启动server.bat</a></li>
        <li><a href="http://localhost:9922">打开调试页面</a></li>
    </ul>

</body>
</html>