/* 整体框架结构(主内容区高度自适应)
------------------- */
.f-hide{
	display: none;
}
/**
 * 
 */

.w-tiles {} 
.w-tiles li {
    text-align: left;
    vertical-align: middle;
    float: left;
    margin: 5px;
    list-style: none;
}
.w-tiles li img {
    width: 80px;
    height: 80px;
}
.w-tile * {
    display: block;
}
.w-tile span {
    text-align: center;
}
.w-image-viewer img {
    max-width: 100%;
}
.b-original-img-wrap{
	 overflow:auto;
	 -webkit-overflow-scrolling: touch;
}
.w-loading{
	height: 100%;
	width: 	100%;
	text-align: center;
	background-color: #F7F7F7;
	background-image: url('../img/loading.gif');
	background-position:50% 50%;
	background-repeat: no-repeat;
}